{% extends 'base.html' %}

{% block content %}


<h2>Список врачей</h2>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>ФИО врача</th>
        <th>Номер телефона</th>
        {% if request.user.is_staff == True %}
        <th>Действие</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for cashier in cashiers %}
    <tr>
        <td>{{ cashier.id }}</td>
        <td>{{ cashier.name }}</td>
        <td>{{ cashier.phone_number }}</td>
        {% if request.user.is_staff == True %}
        <td>
            <a class="btn" href="{% url 'cashier_update' cashier.pk %}">Изменить</a>
            <a class="btn" href="{% url 'cashier_delete' cashier.pk %}">Удалить</a>
        </td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Таблица пустая</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
{% if request.user.is_staff == True %}
<h3>Добавить нового врача</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить</button>
</form>
{% endif %}

{% endblock %}
