{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Поликлиники в Ульяновске</h1>
    <ol>
        <li>ГУЗ Ульяновская областная клиническая больница
    
        Адрес: г. Ульяновск, улица Третьего Интернационала, д. 7
    
        Сокращённое наименование: ГУЗ «УОКБ»
    
        Полное наименование: Государственное учреждение здравоохранения «Ульяновская областная клиническая больница»
    
        Рейтинг ЛПУ: 1 Звезда2 Звезды3 Звезды4 Звезды5 Звезд (Пока оценок нет)</li>
        
        <li>ГУЗ Городская поликлиника № 4
    
        Адрес: г. Ульяновск, улица Камышинская, д. 41
    
        Сокращённое наименование: ГУЗ «ГП № 4»
    
        Полное наименование: Государственное учреждение здравоохранения «Городская поликлиника № 4»</li>
        
        <li>Ульяновская областная детская клиническая больница
    
        Адрес: г. Ульяновск, улица Радищева, д. 42
    
        Сокращённое наименование: ГУЗ «УОДКБ»
    
        Полное наименование: Государственное учреждение здравоохранения «Ульяновская областная детская клиническая больница им. политического и общественного деятеля Ю.Ф Горячева»</li>
        
        <li>ГУЗ Городская поликлиника № 6
    
        ☎️ +7 (8422) 58-62-81 ☎️ +7 (8422) 58-62-90 ☎️ +7 (8422) 58-62-80
    
        Адрес: г. Ульяновск, улица Авиастроителей, д. 31
    
        Сокращённое наименование: ГУЗ «ГП № 6»
    
        Полное наименование: Государственное учреждение здравоохранения «Городская поликлиника № 6»</li>
        
        <li>Поликлиника № 2 ГУЗ ЦКМСЧ им. В.А.Егорова
    
        ☎️ +7 (8422) 21-44-68 ☎️ +7 (8422) 45-54-98
    
        Адрес: г. Ульяновск, проспект 50-летия ВЛКСМ, д. 8 А
    
        Сокращённое наименование: ГУЗ «ЦКМСЧ им. В.А.Егорова», Поликлиника 2
    
        Полное наименование: Государственное учреждение здравоохранения «Центральная клиническая медико-санитарная часть имени В.А. Егорова», Поликлиника 2</li>
        
        <li>Городская поликлиника № 5
    
        Адрес: г. Ульяновск, микрорайон Новый город, проспект Созидателей, д. 11
    
        Сокращённое наименование: ГУЗ «ГП № 5»
    
        Полное наименование: Государственное учреждение здравоохранения «Городская поликлиника № 5»</li>
        
        <li>ГУЗ Городская поликлиника № 3
    
        ☎️ +7 (8422) 58-80-03
    
        Адрес: г. Ульяновск, микрорайон Новый город, проспект Генерала Тюленева, д. 7
    
        Сокращённое наименование: ГУЗ «ГП № 3»
    
        Полное наименование: Государственное учреждение здравоохранения «Городская поликлиника № 3»</li>
        
        <li>Городская поликлиника №1 им. С.М. Кирова
    
        ☎️ +7 (8422) 58-80-03
    
        Адрес: г. Ульяновск, улица Гагарина, д. 20
    
        Филиалы: Карла Либкнехта, д. 17/5; Гончарова, д. 15, 17
    
        Сокращённое наименование: ГУЗ «ГП № 1 им. С.М. Кирова»
    
        Полное наименование: Государственное учреждение здравоохранения «Городская поликлиника № 1 имени С.М. Кирова»</li>
    </ol>

</div>
{% endblock %}